#continue {
    display: block;
    margin: auto;
}

.choice {

}

.page-container {
    margin-left: 20vw;
    margin-right: 20vw;
    color: white;
}

body {
    background-color: black;
    text-align: center;
}

fieldset {
    display: inline-block;
    margin: 1vh 1vw
}